@page
@model IndexModel
@{
    ViewData["Title"] = "Dotnet Sample";
}

<h1>Dotnet on AWS App Runner with Cloud Native Buildpacks</h1>
<p>This application is running as a container on AWS App Runner and was built using Cloud Native Buildpacks!</p>
