extends layout

block content
  h1 Node.js on AWS App Runner with Cloud Native Buildpacks
  p This application is running as a container on AWS App Runner and was built using Cloud Native Buildpacks!
